<div>
    <h1></h1>
    </div>
    <div>
        <div>
          <nav>
           <div class="navbar-collapse">    
            <ul class="navbar-nav mr-auto">    
              <li class="nav-item active">    
                <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>  
  
              </li>    
              <li class="nav-item active">    
                <a class="nav-link" routerLink="aboutus" routerLinkActive="active">About us</a>  
                  
              </li>  

              <li class="nav-item active">    
                <a class="nav-link" routerLink="contactus" routerLinkActive="active">Contact us</a>  
                  
              </li> 

              <li class="nav-item active">    
                <a class="nav-link" routerLink="help" routerLinkActive="active">Help</a>  
                  
              </li>
         
          </ul>    
        </div>    
      </nav>    
        <router-outlet></router-outlet>    
      </div>  